<h2>Liste des héros disponibles :</h2>

<ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
        [class.selected]="hero === selectedHero">
        <span class="badge">{{ hero.id }}</span> <span class="badgeNom">{{ hero.nom }}</span>
    </li>
</ul>

<div *ngIf="selectedHero">
    <h2>Détails du héros sélectionné : <span class="elt-important">{{ selectedHero.nom | uppercase }}</span></h2>
    <div>
        <span class="identity-cat">id: </span><span class="identity-det">{{ selectedHero.id }}</span>
    </div>
    <div>
        <span class="identity-cat">nom: </span><span class="identity-det">{{ selectedHero.nom }}</span>
    </div>

    <div>
        <!-- Champs de modification -->
        <label>Nom du héros:
            <input [(ngModel)]="selectedHero.nom" placeholder="nom du héros"/>
        </label>
    </div>
</div>